nav{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
li, h1,ul{
    display: inline;
    cursor: pointer;
    
}
ul{
    margin-left: 65%;
}
li{
    font-size: 1.3rem;
    margin-right: 10px;
}
li:hover{
    cursor: pointer;
    color: gray;
}
.inp{
    margin-top: 40px;
    margin-left: 500px;
    width: 500px;
    height:35px;
    border-radius: 10px;

}