nav{
    background-color: black;
    color: white;
    padding: 20px;
    
    
}
li,h1,ul{
    display: inline;
}
ul{

    margin-left: 70%;
    justify-content: space-between;


}
li{
    margin-right: 20px;
}
li:hover{
    cursor: pointer;
}