server:
  port: 9000

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:

          discovery:
            locator:
              enabled: true

          routes:

            # =========================
            # CUSTOMER SERVICE
            # =========================
            - id: customer-service
              uri: lb://customer-service
              predicates:
                - Path=/, /login, /register, /welcome, /deposit, /withdraw, /transfer,
                      /apply-loan, /investment-calculator, /transfer-investment,
                      /api/customer/**
              filters:
                - StripPrefix=0

            # =========================
            # ADMIN SERVICE
            # =========================
            - id: admin-service
              uri: lb://admin-service
              predicates:
                - Path=/admin/**, /api/admin/**
              filters:
                - StripPrefix=0

            # =========================
            # CHAT SERVICE
            # =========================
            - id: chat-service
              uri: lb://chat-service
              predicates:
                - Path=/chat/**, /api/chat/**
              filters:
                - StripPrefix=0

            # =========================
            # EMAIL SERVICE
            # =========================
            - id: email-service
              uri: lb://email-service
              predicates:
                - Path=/email/**, /api/email/**
              filters:
                - StripPrefix=0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
